[Unit]
Description=OrangePi Vision Service
Requires=network.target
After=network-online.target

[Service]
Type=simple
ExecStart=/bin/bash /home/opi/scripts/opi_vision_start.sh
User=opi
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target